{% extends 'base.html' %}
{% load bootstrap %}

{%  block title %} Página de login {% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
            </form>
        </div>
        <div class="col-sm">
        </div>
    </div>

{% endblock %}


{% block footer %}
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Desenvolvimento Web com Django 2.x .</span>
      </div>
    </footer>
{% endblock %}